In [0]:
import pandas as pd
df = pd.read_csv(
    "data.csv",
    sep = '\t',
    thousands = None,
    decimal = '.',
    encoding='latin-1')

In [107]:
df.head()

   0  C,F,A,B,D,I,H
0  1  A,H,C,I,F,D,B
1  2      B,H,I,F,G
2  3          C,B,D
3  4      D,C,I,G,H
4  5      B,D,C,H,A

In [108]:
%%writefile mapper_h10.py
#! /usr/bin/env python
import sys
#
# >>> Escriba el codigo del mapper a partir de este punto <<<
#
if __name__ == "__main__":

    for line in sys.stdin:


        value = int(line.split("	")[0])
        value = "{:03.0f}".format(value)
        letters = (line.split("	")[1].rstrip("\r\n")).split(",")
        for letter in letters:
            sys.stdout.write("{}\t{}\n".format(letter,value))

Writing mapper_h10.py

In [109]:
!chmod +x mapper_h10.py
!cat ./data.csv | ./mapper_h10.py | head

C	000
F	000
A	000
B	000
D	000
I	000
H	000
A	001
H	001
C	001

In [110]:
%%writefile reducer_h10.py
#!/usr/bin/env python
import sys
#
# >>> Escriba el codigo del mapper a partir de este punto <<<
#
if __name__ == '__main__':

    curkey = None
    numbers = ""


    for line in sys.stdin:
        key, val = line.split("\t")
        val = str(int(val))


        if key == curkey:

            numbers = numbers + "," + val
        else:

            if curkey is not None:

                sys.stdout.write("{}\t{}\n".format(curkey, numbers))

            curkey = key
            numbers = val
    sys.stdout.write("{}\t{}\n".format(curkey, numbers))

Writing reducer_h10.py

In [111]:
!chmod +x reducer_h10.py
!cat ./data.csv | ./mapper_h10.py | sort | ./reducer_h10.py

A	0,1,5,7,8,9,10,12,13,14,15,16,17,18,21,23,24,25,26,27,28,29
B	0,1,2,3,5,6,7,8,9,10,11,12,15,16,17,18,19,20,21,22,23,25,26,27,29
C	0,1,3,4,5,6,7,9,10,11,12,14,15,17,20,21,22,23,25,28,29
D	0,1,3,4,5,6,6,7,8,9,9,10,11,12,12,13,14,15,16,17,18,19,19,20,20,21,23,23,24,26,26,27,28,29,29
F	0,1,2,6,7,8,9,11,12,13,15,17,18,19,20,21,22,23,24,25,26,27,28,29
G	2,4,6,7,9,11,12,14,15,17,20,21,22,24,25,26,27,29
H	0,1,2,4,5,6,7,10,11,12,15,17,18,20,22,23,24,25,26,27,28,29
I	0,1,2,4,7,8,9,11,15,16,18,19,20,22,25,26,27