In [0]:
import pandas as pd
df = pd.read_csv(
    "data.csv",
    sep = '\t',
    thousands = None,
    decimal = '.',
    encoding='latin-1')

In [42]:
df.head()

   B   1999-08-28   14.1
0  E   1999-12-06   12.2
1  E   1993-07-21   17.0
2  C   1991-02-12   13.8
3  E   1995-04-25   16.9
4  A   1992-08-22   14.8

In [43]:
%%writefile mapper_h06.py
#! /usr/bin/env python
import sys
if __name__ == "__main__":

    
    for line in sys.stdin:
        letra=line.split(' ')[0]
        cantidad=line.split(' ')[6]
        cantidad=float(cantidad)
        sys.stdout.write("{}\t{}\n".format(letra,cantidad))

Overwriting mapper_h06.py

In [44]:
!chmod +x mapper_h06.py
!cat ./data.csv | ./mapper_h06.py | head

B	14.1
E	12.2
E	17.0
C	13.8
E	16.9
A	14.8
B	12.1
E	13.2
E	11.3
E	16.4

In [45]:
%%writefile reducer_h6.py
#!/usr/bin/env python

import sys


if __name__ == '__main__':

    curkey = None
    total = None
    total_min = None

    
    for line in sys.stdin:

        key, val = line.split("\t")
        val = float(val)
        
        if total is None:
          total = val

        if total_min is None:
          total_min = val

        if key == curkey:
            
            total = max(total,val)
            total_min = min(total_min, val)
        else:
           
            if curkey is not None:
                
                sys.stdout.write("{}\t{}\t{}\n".format(curkey, total, total_min))

            curkey = key
            total = val
            total_min = val
     
    sys.stdout.write("{}\t{}\t{}\n".format(curkey, total, total_min))

Overwriting reducer_h6.py

In [46]:
!chmod +x reducer_h6.py
!cat ./data.csv | ./mapper_h06.py | sort | ./reducer_h6.py

A	18.4	10.7
B	17.0	10.7
C	15.3	10.2
D	15.1	15.1
E	18.8	10.5