In [0]:
import pandas as pd
df = pd.read_csv(
    "data.csv",
    sep = '\t',
    thousands = None,
    decimal = '.',
    encoding='latin-1')

In [46]:
df.head()

   B   1999-08-28   14
0  E   1999-12-06   12
1  E   1993-07-21   17
2  C   1991-02-12   13
3  E   1995-04-25   16
4  A   1992-08-22   14

In [72]:
%%writefile mapper_h8.py
#! /usr/bin/env python
  
import sys
#
#  >>> Escriba el codigo del mapper a partir de este punto <<<
#
if __name__ == "__main__":

    for line in sys.stdin:


        word = line.split("   ")[0]
        value = int(line.split("   ")[2])        
        sys.stdout.write("{}\t{}\t1\n".format(word,value))

Overwriting mapper_h8.py

In [73]:
!chmod +x mapper_h8.py
!cat ./data.csv | ./mapper_h8.py | head

B	14	1
E	12	1
E	17	1
C	13	1
E	16	1
A	14	1
B	12	1
E	13	1
E	11	1
E	16	1

In [78]:
%%writefile reducer_h8.py
#!/usr/bin/env python

import sys


if __name__ == '__main__':

    curkey = None
    total = 0
    cuenta = 0

    
    for line in sys.stdin:

        key, suma,prom = line.split("\t")
        suma = int(suma)
        prom = int(prom)
        

        if key == curkey:
            
            total += suma
            cuenta += prom
        else:
           
            if curkey is not None:
                
                sys.stdout.write("{}\t{}\t{}\n".format(curkey, total, total/cuenta))

            curkey = key
            total = suma
            cuenta = prom
     
    sys.stdout.write("{}\t{}\t{}\n".format(curkey, total, total/cuenta))

Overwriting reducer_h8.py

In [79]:
!chmod +x reducer_h8.py
!cat ./data.csv | ./mapper_h8.py | sort | ./reducer_h8.py

A	165	13.75
B	136	13.6
C	48	12.0
D	15	15.0
E	192	14.76923076923077