In [0]:
import pandas as pd
df = pd.read_csv(
    "data.csv",
    sep = '\t',
    thousands = None,
    decimal = '.',
    encoding='latin-1')

In [5]:
df.head()

   E   1990-05-03   16  Unnamed: 1
0   A   1992-09-19   9         NaN
1  A   1990-10-06   10         NaN
2  E   1994-02-14   10         NaN
3  E   1999-09-10   11         NaN
4  A   1992-08-22   16         NaN

In [40]:
%%writefile mapper_h7.py
#! /usr/bin/env python
  
import sys
#
#  >>> Escriba el codigo del mapper a partir de este punto <<<
#
if __name__ == "__main__":

    ##
    ## itera sobre cada linea de codigo recibida
    ## a traves del flujo de entrada
    ##
    for line in sys.stdin:

        ##
        ## genera las tuplas palabra \tabulador 1
        ## ya que es un conteo de palabras
        ##
        word = line.split("   ")[0]
        value = int(line.split("   ")[2])
        value = "{:03.0f}".format(value)    ## {}  :03 permite que tenga un cero a la izquiera y que que tenga 3 de longitud y el 0f genera tener 0 puntos decimales
        sys.stdout.write("{},{},{}".format(word,value,line))

Overwriting mapper_h7.py

In [41]:
!chmod +x mapper_h7.py
!cat ./data.csv | ./mapper_h7.py | head

E,016,E   1990-05-03   16
A,009,A   1992-09-19   9
A,010,A   1990-10-06   10
E,010,E   1994-02-14   10
E,011,E   1999-09-10   11
A,016,A   1992-08-22   16
A,017,A   1993-05-08   17
A,121,A   1988-04-27   121
B,001,B   1995-08-23   1
B,009,B   1991-10-01   9

In [42]:
%%writefile reducer_h7.py
#!/usr/bin/env python

import sys
#
#  >>> Escriba el codigo del mapper a partir de este punto <<<
#
if __name__ == '__main__':


    for line in sys.stdin:
        _, _, val = line.split(",") #genera como clave la letra y luego el nÃºmero asignado a la misma , luego asigna el valor a cada uno de los registros originales (ejemplo E   1990-05-03   16)
        sys.stdout.write("{}".format(val))  #el reducer recorre uno a uno pero al no haber repetidos no suma nada, solo los ordena primero por la columna 0 y luego por la 1 (E, 016)

Overwriting reducer_h7.py

In [44]:
!chmod +x reducer_h7.py
!cat ./data.csv | ./mapper_h7.py | sort | ./reducer_h7.py

A   1990-07-22   0
A   1990-09-26   8
A   1992-09-19   9
A   1990-10-06   10
A   1990-09-05   11
A   1990-08-31   12
A   1997-12-15   13
A   1994-10-25   14
A   1993-01-11   15
A   1992-08-22   16
A   1993-05-08   17
A   1988-04-27   121
B   1995-08-23   1
B   1991-10-01   9
B   1999-10-21   13
B   1997-04-09   14
B   1995-09-06   15
B   1993-03-02   16
B   1999-08-28   17
B   1994-08-30   18
B   1999-06-11   121
B   1998-11-22   131
C   1994-01-25   10
C   1991-02-12   13
C   1994-09-09   15
C   1994-07-27   104
D   1990-10-10   15
E   1998-09-14   2
E   1995-04-25   3
E   1993-07-21   4
E   1993-01-27   9
E   1994-02-14   10
E   1999-09-10   11
E   1999-12-06   12
E   1999-01-14   15
E   1990-05-03   16
E   1985-02-12   17
E   1990-02-09   18
E   1993-12-27   19
E   1991-02-18   141