In [0]:
import pandas as pd
df = pd.read_csv(
    "credit.csv",
    sep = ',',
    thousands = None,
    decimal = '.',
    encoding='latin-1')

In [5]:
%%writefile mapper_q2.py
#! /usr/bin/env python
import sys
#
# >>> Escriba el codigo del mapper a partir de este punto <<<
#
if __name__ == "__main__":
	for line in sys.stdin:
		arr = line.split(',')
		pour = arr[3]
		val = arr[4]
		sys.stdout.write("{}\t{}\n".format(pour,val))

Writing mapper_q2.py

In [6]:
!chmod +x mapper_q2.py
!cat ./credit.csv | ./mapper_q2.py | head

radio/tv	1169
radio/tv	5951
education	2096
furniture	7882
car (new)	4870
education	9055
furniture	2835
car (used)	6948
radio/tv	3059
car (new)	5234

In [7]:
%%writefile reducer_q2.py
#!/usr/bin/env python
import sys
#
#  >>> Escriba el codigo del reducer a partir de este punto <<<
#
if __name__ == '__main__':

    curkey = None
    total = 0
    for line in sys.stdin:

        key, val = line.split("\t")
        val = int(val)

        if key == curkey:
        	if val > total:
        		total = val
        else:
            if curkey is not None:
                sys.stdout.write("{}\t{}\n".format(curkey, total))

            curkey = key
            total = val

    sys.stdout.write("{}\t{}\n".format(curkey, total))

Writing reducer_q2.py

In [10]:
!chmod +x reducer_q2.py
!cat ./credit.csv | ./mapper_q2.py | sort | ./reducer_q2.py | head

business	15945
car (new)	14896
car (used)	12976
domestic appliances	3990
education	12612
furniture	14179
others	18424
radio/tv	15653
repairs	11998
retraining	3447