In [0]:
import pandas as pd
df = pd.read_csv(
    "data.csv",
    sep = '\t',
    thousands = None,
    decimal = '.',
    encoding='latin-1')

In [81]:
df.head()

    B   1999-08-28   14
0  E   1999-12-06   121
1   E   1993-07-21   17
2    C   1991-02-12   2
3  E   1995-04-25   161
4   A   1992-08-22   14

In [100]:
%%writefile mapper_h9.py
#! /usr/bin/env python
import sys
#
#  >>> Escriba el codigo del mapper a partir de este punto <<<
#
if __name__ == "__main__":


    for line in sys.stdin:

        value = int(line.split("   ")[2])
        value = "{:03.0f}".format(value)
        sys.stdout.write("{},{}".format(value,line))

Overwriting mapper_h9.py

In [101]:
!chmod +x mapper_h9.py
!cat ./data.csv | ./mapper_h9.py | head

014,B   1999-08-28   14
121,E   1999-12-06   121
017,E   1993-07-21   17
002,C   1991-02-12   2
161,E   1995-04-25   161
014,A   1992-08-22   14
012,B   1999-06-11   12
008,E   1993-01-27   8
011,E   1999-09-10   11
016,E   1990-05-03   16

In [104]:
%%writefile reducer_h9.py
#!/usr/bin/env python

import sys
#
#  >>> Escriba el codigo del mapper a partir de este punto <<<
#
if __name__ == '__main__':

    cont = 0
    for line in sys.stdin:
        _, val = line.split(",")
        sys.stdout.write("{}".format(val))
        cont += 1
        if(cont == 5):
            break

Overwriting reducer_h9.py

In [105]:
!chmod +x reducer_h9.py
!cat ./data.csv | ./mapper_h9.py | sort | ./reducer_h9.py

C   1994-07-27   1
C   1991-02-12   2
A   1990-07-22   4
A   1990-09-26   5
B   1997-04-09   6