In [0]:
import pandas as pd
df = pd.read_csv(
    "data.csv",
    sep = ',',
    thousands = None,
    decimal = '.',
    encoding='latin-1')

In [27]:
df

   b  6
0  a  3
1  d  1
2  c  2
3  e  4
4  f  5

In [23]:
  %%writefile mapper_q3.py
#! /usr/bin/env python
  
import sys
#
# >>> Escriba el codigo del mapper a partir de este punto <<<
#

if __name__ == "__main__":

    for line in sys.stdin:
            clave = line.split(',')[0]
            valor = int(line.split(',')[1])
            sys.stdout.write("{},{},{}\n".format(valor,clave,valor))

Overwriting mapper_q3.py

In [24]:
!chmod +x mapper_q3.py
!cat ./data.csv | ./mapper_q3.py | head

6,b,6
3,a,3
1,d,1
2,c,2
4,e,4
5,f,5

In [25]:
%%writefile reducer_q03.py
#!/usr/bin/env python
import sys
#
# >>> Escriba el codigo del reducer a partir de este punto <<<
#

if __name__ == '__main__':

    for line in sys.stdin:
        num, key, val = line.split(",")
        val=int(val)

        sys.stdout.write("{},{}\n".format(key, val))

Overwriting reducer_q03.py

In [26]:
!chmod +x reducer_q03.py
!cat ./data.csv | ./mapper_q3.py | sort | ./reducer_q03.py

d,1
c,2
a,3
e,4
f,5
b,6